body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    color: rgb(240, 76, 37);
}
a:link {
    color: #0a2d53;
}
a:hover {
    color: rgb(240, 76, 37);
}
a:visited {
    text-decoration: underline;
}